
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Outfit:wght@300&family=Roboto:wght@300;500&display=swap");

section {
    padding : 10px ;

}
section .title {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
}

section .form {
    display : flex ;
    justify-content: center;
    align-items: center;
    margin: auto;
    width : 95% ;
    padding: 10px ;
    border-radius: 7px;
    background-color: #90909033;
    
}

section .form .inputs {
    width: 55%;
    border-radius: 8px;
    color : white;
    margin-bottom: 10px ;
}